#container {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.table {
    display: table;
    border: 1px solid black;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.black {
    background-color: black;
}