#header {
    display: block;
    margin: auto;
    width: 200px;
    height: 95px;
}

h1 {
    position: relative;
    top: 15px;
    font-size: 2em;
    text-align: center;
}

.reset {
    display: block;
    position: relative;
    margin: auto;
    top: 30px;
    width: 90px;
    height: 20px;
}

#container {
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}

.table {
    display: table;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid black;
}

.black {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}
