#button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
}

.reset {
    display: block;
    position: relative;
    margin: auto;
    top: 20px;
    width: 90px;
    height: 20px;
}

#container {
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}

.table {
    display: table;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid black;
}

.black {
    background-color: black;
}